In [127]:
#pip install pandas

In [128]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [129]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

In [130]:
# Display the 2020 sales DataFrame
print("2020 Data:")
print(df_2020.head())

2020 Data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [131]:
# Display the 2021 sales DataFrame
print("2021 Data:")
print(df_2021.head())

2021 Data:
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [132]:
# Check the 2020 sales data types.
# Check the data types of the 2020 sales data
print("2020 Data Types:")
print(df_2020.info())

2020 Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB
None

In [133]:
# Check the 2021 sales data types.
# Check the data types of the 2020 sales data
print("2021 Data Types:")
print(df_2021.info())

2021 Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB
None

#### Combine the sales data by rows.

In [134]:
# Combine the 2020 and 2021 sales DataFrames on the rows 
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)
# Reset the index
combined_df.reset_index(drop=True, inplace=True)

print("Combined Data:")
print(combined_df.head())

Combined Data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [135]:
# Check if any values are null.
null_values = combined_df.isnull().sum()

# Display the count of null values for each column
print("Null Values in Combined Data:")
print(null_values)

Null Values in Combined Data:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [136]:
# Check the data type of each column
print("Data Types in Combined Data:")
print(combined_df.info())

Data Types in Combined Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 904.2+ KB
None

In [137]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

print("\nAfter Conversion:")
print(combined_df.info())

After Conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB
None

/var/folders/vj/hvhj49qd53n9vtf8v185v5tr0000gn/T/ipykernel_17144/3531224765.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [138]:
# Confirm that the "invoice_date" data type has been changed.
print("\nData Types After Conversion:")
print(combined_df.info())

Data Types After Conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB
None

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [139]:
# Show the number products sold for region, state, and city.
products_sold = combined_df.groupby(['region', 'state', 'city']).size().reset_index(name='total_products_sold')

print("Number of Products Sold for Region, State, and City:")
print(products_sold)

# Rename the sum to "Total_Products_Sold".
products_sold = combined_df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')

print("Number of Products Sold for Region, State, and City:")
print(products_sold)


# Show the top 5 results.
products_sold = combined_df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')

top_5_products_sold = products_sold.sort_values(by='Total_Products_Sold', ascending=False).head(5)

print("Top 5 Regions by Number of Products Sold:")
print(top_5_products_sold)

Number of Products Sold for Region, State, and City:
       region           state            city  total_products_sold
0     Midwest        Illinois         Chicago                  144
1     Midwest         Indiana    Indianapolis                  144
2     Midwest            Iowa      Des Moines                  144
3     Midwest          Kansas         Wichita                  144
4     Midwest        Michigan         Detroit                  144
5     Midwest       Minnesota     Minneapolis                  142
6     Midwest        Missouri       St. Louis                  144
7     Midwest         Montana        Billings                  144
8     Midwest        Nebraska           Omaha                  144
9     Midwest    North Dakota           Fargo                  144
10    Midwest            Ohio        Columbus                  144
11    Midwest    South Dakota     Sioux Falls                  144
12    Midwest       Wisconsin       Milwaukee                  144
13  Northeast     Connecticut        Hartford                  216
14  Northeast        Delaware      Wilmington                  144
15  Northeast           Maine        Portland                  144
16  Northeast        Maryland       Baltimore                  144
17  Northeast   Massachusetts          Boston                  216
18  Northeast   New Hampshire      Manchester                  216
19  Northeast      New Jersey          Newark                  144
20  Northeast        New York          Albany                  144
21  Northeast        New York        New York                  216
22  Northeast    Pennsylvania    Philadelphia                  216
23  Northeast    Rhode Island      Providence                  216
24  Northeast         Vermont      Burlington                  216
25  Northeast   West Virginia      Charleston                  144
26      South         Alabama      Birmingham                  216
27      South        Arkansas     Little Rock                  216
28      South       Louisiana     New Orleans                  216
29      South     Mississippi         Jackson                  216
30      South        Oklahoma   Oklahoma City                  216
31      South       Tennessee       Knoxville                  216
32      South           Texas          Dallas                  216
33      South           Texas         Houston                  216
34  Southeast         Florida           Miami                  144
35  Southeast         Florida         Orlando                  216
36  Southeast         Georgia         Atlanta                  216
37  Southeast        Kentucky      Louisville                  144
38  Southeast  North Carolina       Charlotte                  144
39  Southeast  South Carolina      Charleston                  144
40  Southeast        Virginia        Richmond                  216
41       West          Alaska       Anchorage                  144
42       West         Arizona         Phoenix                  216
43       West      California     Los Angeles                  216
44       West      California   San Francisco                  213
45       West        Colorado          Denver                  144
46       West          Hawaii        Honolulu                  144
47       West           Idaho           Boise                  216
48       West          Nevada       Las Vegas                  216
49       West      New Mexico     Albuquerque                  216
50       West          Oregon        Portland                  216
51       West            Utah  Salt Lake City                  216
52       West      Washington         Seattle                  144
53       West         Wyoming        Cheyenne                  144
Number of Products Sold for Region, State, and City:
       region           state            city  Total_Products_Sold
0     Midwest        Illinois         Chicago                  144
1     Midwest         Indiana    Indianapolis                  144
2     Midwest            Iowa      Des Moines                  144
3     Midwest          Kansas         Wichita                  144
4     Midwest        Michigan         Detroit                  144
5     Midwest       Minnesota     Minneapolis                  142
6     Midwest        Missouri       St. Louis                  144
7     Midwest         Montana        Billings                  144
8     Midwest        Nebraska           Omaha                  144
9     Midwest    North Dakota           Fargo                  144
10    Midwest            Ohio        Columbus                  144
11    Midwest    South Dakota     Sioux Falls                  144
12    Midwest       Wisconsin       Milwaukee                  144
13  Northeast     Connecticut        Hartford                  216
14  Northeast        Delaware      Wilmington                  144
15  Northeast           Maine        Portland                  144
16  Northeast        Maryland       Baltimore                  144
17  Northeast   Massachusetts          Boston                  216
18  Northeast   New Hampshire      Manchester                  216
19  Northeast      New Jersey          Newark                  144
20  Northeast        New York          Albany                  144
21  Northeast        New York        New York                  216
22  Northeast    Pennsylvania    Philadelphia                  216
23  Northeast    Rhode Island      Providence                  216
24  Northeast         Vermont      Burlington                  216
25  Northeast   West Virginia      Charleston                  144
26      South         Alabama      Birmingham                  216
27      South        Arkansas     Little Rock                  216
28      South       Louisiana     New Orleans                  216
29      South     Mississippi         Jackson                  216
30      South        Oklahoma   Oklahoma City                  216
31      South       Tennessee       Knoxville                  216
32      South           Texas          Dallas                  216
33      South           Texas         Houston                  216
34  Southeast         Florida           Miami                  144
35  Southeast         Florida         Orlando                  216
36  Southeast         Georgia         Atlanta                  216
37  Southeast        Kentucky      Louisville                  144
38  Southeast  North Carolina       Charlotte                  144
39  Southeast  South Carolina      Charleston                  144
40  Southeast        Virginia        Richmond                  216
41       West          Alaska       Anchorage                  144
42       West         Arizona         Phoenix                  216
43       West      California     Los Angeles                  216
44       West      California   San Francisco                  213
45       West        Colorado          Denver                  144
46       West          Hawaii        Honolulu                  144
47       West           Idaho           Boise                  216
48       West          Nevada       Las Vegas                  216
49       West      New Mexico     Albuquerque                  216
50       West          Oregon        Portland                  216
51       West            Utah  Salt Lake City                  216
52       West      Washington         Seattle                  144
53       West         Wyoming        Cheyenne                  144
Top 5 Regions by Number of Products Sold:
       region      state           city  Total_Products_Sold
27      South   Arkansas    Little Rock                  216
40  Southeast   Virginia       Richmond                  216
32      South      Texas         Dallas                  216
31      South  Tennessee      Knoxville                  216
30      South   Oklahoma  Oklahoma City                  216

#### Using `pivot_table`

In [140]:

# I needed a lot of help with this section

combined_df = pd.concat([df_2020, df_2021], ignore_index=True)

combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

# Use pivot_table to agg the number of products sold for each region, state, city
products_sold = combined_df.pivot_table(values='units_sold', index=['region', 'state', 'city'], aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
products_sold.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Sort the results in descending order 
top_5_products_sold = products_sold.sort_values(by='Total_Products_Sold', ascending=False).head(5)

# Show the top 5 results
print("Top 5 Regions by Number of Products Sold:")
print(top_5_products_sold)

Top 5 Regions by Number of Products Sold:
       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

/var/folders/vj/hvhj49qd53n9vtf8v185v5tr0000gn/T/ipykernel_17144/4223752539.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [141]:
# Group by region, state, and city and sum the total sales
total_sales = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the results in descending order 
top_5_sales = total_sales.sort_values(by='Total Sales', ascending=False).head(5)

# Show the top 5 results
print("Top 5 Regions by Total Sales:")
print(top_5_sales)

Top 5 Regions by Total Sales:
       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [142]:

# Create a pivot table to aggregate the total sales for each region, state, and city
pivot_table = combined_df.pivot_table(values='total_sales', index=['region', 'state', 'city'], aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the results in descending order to show the top 5 regions
top_5_sales = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)

# Show the top 5 results
print("Top 5 Regions by Total Sales:")
print(top_5_sales)

Top 5 Regions by Total Sales:
       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [143]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.


# Convert the "invoice_date" column to a datetime data type
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

# Group by retailer, region, state, and city and sum the total sales
total_sales = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the results in descending order to show the top 5 retailers
top_5_sales = total_sales.sort_values(by='Total Sales', ascending=False).head(5)

# Show the top 5 results
print("Top 5 Retailers by Total Sales:")
print(top_5_sales)

Top 5 Retailers by Total Sales:
        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [144]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table = combined_df.pivot_table(values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum').reset_index()


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
top_5_sales = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)

print("Top 5 Retailers by Total Sales:")
print(top_5_sales)

Top 5 Retailers by Total Sales:
        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

#### Using `groupby`

In [145]:
# To keep track of where things are
print("Column Names in Combined Data:")
print(combined_df.columns)

Column Names in Combined Data:
Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method'],
      dtype='object')

In [146]:
# Assuming the correct column name is 'product_type', filter the data for women's athletic footwear
womens_footwear_df = combined_df.loc[combined_df['product'] == "Women's Athletic Footwear"]

# Group by retailer, region, state, and city and sum the total units sold
womens_footwear_units_sold = womens_footwear_df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_units_sold.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Sort the results in descending order to show the top 5 retailers
top_5_units_sold = womens_footwear_units_sold.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Retailers by Women's Athletic Footwear Units Sold:")
print(top_5_units_sold)

Top 5 Retailers by Women's Athletic Footwear Units Sold:
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

In [147]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_units_sold = womens_footwear_df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_units_sold.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_units_sold = womens_footwear_units_sold.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

print("Top 5 Retailers by Women's Athletic Footwear Units Sold:")
print(top_5_units_sold)

Top 5 Retailers by Women's Athletic Footwear Units Sold:
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [148]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_units_sold = womens_footwear_df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_units_sold.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)


# Show the top 5 results.
top_5_units_sold = womens_footwear_units_sold.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

print("Top 5 Retailers by Women's Athletic Footwear Units Sold:")
print(top_5_units_sold)

Top 5 Retailers by Women's Athletic Footwear Units Sold:
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [149]:
# Combine the 2020 and 2021 DataFrames by rows
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)

# Convert the "invoice_date" column to a datetime data type
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

# Filter the data to get only women's athletic footwear sales
womens_footwear_df = combined_df.loc[combined_df['product'] == "Women's Athletic Footwear"]

# Create a pivot table to aggregate the total units sold for each retailer, region, state, and city
pivot_table = womens_footwear_df.pivot_table(values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Sort the results in descending order to show the top 5 retailers
top_5_units_sold = pivot_table.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 Retailers by Women's Athletic Footwear Units Sold:")
print(top_5_units_sold)

/var/folders/vj/hvhj49qd53n9vtf8v185v5tr0000gn/T/ipykernel_17144/1958139664.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

Top 5 Retailers by Women's Athletic Footwear Units Sold:
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

In [150]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table = womens_footwear_df.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum').reset_index()


# Combine the 2020 and 2021 DataFrames by rows
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)

# Convert the "invoice_date" column to a datetime data type
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print("Pivot Table with Invoice Date and Total Sales:")
print(pivot_table)

Pivot Table with Invoice Date and Total Sales:
    invoice_date  Total Sales
0     2020-01-04       402743
1     2020-01-05       141801
2     2020-01-11       129556
3     2020-01-17       173013
4     2020-01-22       388250
..           ...          ...
350   2021-12-22       200406
351   2021-12-23       808022
352   2021-12-24       190885
353   2021-12-25       315175
354   2021-12-30       167903

[355 rows x 2 columns]

/var/folders/vj/hvhj49qd53n9vtf8v185v5tr0000gn/T/ipykernel_17144/406964980.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [151]:
# Sort the pivot table by 'Total Sales' in descending order
sorted_pivot_table = pivot_table.sort_values(by='Total Sales', ascending=False)

# Show the top result
top_day = sorted_pivot_table.head(1)

# Display the top result
print("Day with the Most Women's Athletic Footwear Sales:")
print(top_day)

Day with the Most Women's Athletic Footwear Sales:
    invoice_date  Total Sales
227   2021-07-16      1521825

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [152]:

# filter the data for women's athletic footwear
womens_footwear_df = combined_df.loc[combined_df['product'] == "Women's Athletic Footwear"]

# Create a pivot table with 'invoice_date' as the index and 'total_sales' as the values
pivot_table = womens_footwear_df.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')

# Rename the 'total_sales' column to 'Total Sales'
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Display pivot table
print("Pivot Table with Invoice Date and Total Sales:")
print(pivot_table)

# Resample the pivot table into weekly bins and sum the total sales for each week
weekly_sales = pivot_table.resample('W').sum()

# Sort the resampled data in descending order by 'Total Sales'
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False)

# Display the sorted resampled data
print("Sorted Weekly Sales Resampled:")
print(sorted_weekly_sales)

Pivot Table with Invoice Date and Total Sales:
              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]
Sorted Weekly Sales Resampled:
              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]